.navbar{
   height: 50px;
   background-color: #003580;
   display: flex;
   justify-content: center;
}

.navbar-container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: x-large;
    cursor: pointer;
}
.logo-name{
    text-decoration: none;
    color: white;
    
}

.navbar-item{
    display: flex;
    gap: 20px;
}

.btn-nav{
    padding: 5px 10px;
    color: #003580;
    cursor: pointer;
    font-weight: 500;
    border: none;
}